.btn-flotante {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem 2rem;
    background-color: var(--claro);
    -webkit-box-shadow: 0px 6px 32px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 32px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 32px -10px rgba(0, 0, 0, 0.75);
    color: var(--obscuro);
    text-decoration: none;
}

.btn-flotante.activo {
    background-color: var(--primario);
    color: var(--claro);
    transition: all 0.4s ease;
}