.carrito .controles {
    margin-block-start: .8rem;
    display: inline-block;
    box-shadow: inset 0 0 0 1px var(--obscuro);
    border-radius: 1rem;
    background: var(--amarillo);
}

.carrito .cantidad {
    border: 1px solid var(--obscuro);
    border-radius: 50%;
    inline-size: 1.6rem;
    block-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    background: var(--claro);
}

.carrito .numero {
    margin-inline: .5rem;
}

.carrito .eliminarItem {
    margin-inline-start: 1rem;
    border: 1px solid var(--obscuro);
    border-radius: 50%;
    color: var(--claro);
    background: red;
    font-weight: 800;
    cursor: pointer;
}

.carrito .cantidad.aumentar:hover {
    background: rgb(172, 241, 76);
}

.carrito .cantidad.disminuir:hover {
    background: rgb(252, 219, 158);
}