.carrito {
    position: fixed;
    bottom: 10rem;
    right: 1rem;
    padding: 1rem;
    border: 1px solid red;
    background-color: var(--claro);
    min-inline-size: 25rem;
    min-block-size: 10rem;
}