@import './items-carrito.css';
@import './canasta.css';

.carrito {
    position: fixed;
    bottom: 10rem;
    right: 1rem;
    padding: .7rem;
    inline-size: 23.5rem;
    max-block-size: 30rem;
    display: none;
    z-index: 1;
    background: var(--amarillo);
}

.carrito.activo {
    display: block;
}