@import './carrito-controles.css';

.carrito .lista-itemsCarrito {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-block-size: 25rem;
    overflow-y: auto;
}

.itemsCarrito {
    display: flex;
    flex-direction: row;
    gap: .7rem;
    background: var(--claro);
    padding: .7rem;
}

.carrito p {
    margin: 0;
}

.carrito .categoria {
    font-size: .7rem;
}

.carrito .titulo {
    font-size: 1rem;
    font-weight: 800;
    margin-block: .5rem;
}

.carrito .precio {
    font-size: .8rem;
}

.carrito img {
    width: 35%;
    object-fit: contain;
    object-position: center;
}