@import './icons.css';
@import './carrito.css';
@import './card.css';
@import './header.css';
@import './boton-flotante.css';
@import './premium.css';
@import './destinos.css';
@import './footer.css';
@import './redes-sociales.css';

:root {
    --fuente-principal: 'Lato', sans-serif;
    --primario: #da595e;
    --obscuro: #484848;
    --claro: #ffffff;
    --amarillo: rgb(224, 202, 163);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: var(--fuente-principal);
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

@media (min-width:768px) {
    h1 {
        font-size: 2.6rem;
    }
}

@media (max-width:768px) {
    html {
        font-size: 12px;
    }
}


h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

/** Colores **/
.hospedaje {
    color: #274154;
}

.concierto {
    color: #da595e;
}

.clase {
    color: #598dda;
}

.paseo {
    color: #940ad4;
}